

.banner{
    height: 80vh;
}

nav{
    top: 0px;
    background-image: linear-gradient(to right, #5d7c7b, #5c7b82, #5f7a88, #67788b, #71758b);
}
.logo{
    margin:0px !important;
}
.title{
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding-left: 5px;
}
.nav-img{
    width: 100%;
    height: 80Vh;
    object-position: top;
   
}
span{
    width: 40px;
    height: 40px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3rlTiP75HdrGxCaJP1tHO1zri5RTNBSAWVQ&usqp=CAU");
    border-radius: 20px;
}
span> img{
    width: 40px;
    border-radius:20px;
}
main{
  background-color: #E6F4F1;
  color: #324B4A;
}

.container-dogs , .container-cats,#favoritesd,#favoritesc{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto,300px) ;
    grid-auto-rows: auto;
    justify-items: center;
    align-items: center;
    grid-gap: 30px;
    padding:0 20px 0 20px;
    
}

.container-dogs img , .container-cats img, #favoritesd img,#favoritesc img{
    height: 200px;
    object-fit: cover;
    width:100%;
  
}
.upfile{
    padding: 20px;
}
.upfile>form{
    background-image: linear-gradient(to right bottom, #324b4a, #496362, #627c7b, #7b9694, #95b1af);
    border-radius: 20px;
    padding: 30px;
    color: white;
}

footer{
    height:65px;
    width: 100%;
    background-color: #324B4A;
}

.cat, .fcat{
    background-image: linear-gradient(to left top, #5d7c7b, #5c7b82, #5f7a88, #67788b, #71758b);
}
.bt{
    background-color: #324B4A;
    color: white;
    border-radius: 15px;
    padding: 15px;
    border: none;
}
.bt2{
    background-image: linear-gradient(to right bottom, #324b4a, #496362, #627c7b, #7b9694, #95b1af);
    color: white;
    border-radius: 5px;
    padding: 8px;
    border: none;
}

ul{ position: relative;
    background-color: #5d7c7b;
    opacity: 0.85;;
}

.card{
    width: 100%;
}